*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
  color: azure;
}
.datos-table {
    width: 100%;
    border-collapse: separate; /* Permite la separación entre celdas */
    border-spacing: 0; /* Resetea el espaciado predeterminado */
    margin-top: 20px;
    background-color: #574a4a; /* Color de fondo de la tabla */
  }
  
  .datos-table th, .datos-table td {
    padding: 12px 15px; /* Espacio interior en las celdas */
    border: 1px solid rgb(126, 111, 111); /* Línea divisoria blanca entre las celdas */
    text-align: left; /* Alineación del texto */
  }
  
  .datos-table th {
    background-color: #af604c; /* Color de fondo de los encabezados */
    color: white; /* Color del texto en los encabezados */
    font-weight: bold;
  }
  
  .datos-table td {
    background-color: #f4f4f4; /* Color de fondo de las celdas de datos */
  }
  
  .datos-table td:first-child {
    border-left: none; /* Elimina la línea izquierda del primer td */
  }
  
  .datos-table td:last-child {
    border-right: none; /* Elimina la línea derecha del último td */
  }
  
  .pencil, .trash {
    margin-left: 10px;
    cursor: pointer;
    font-size: 30px;
  }
  .pencil{
    color: cadetblue;
    background-color: transparent;
  }
  .trash{
    color: red;
    background-color: transparent;
  }
  
